.Card {
  border: 1px solid black;
  border-radius: 5px;
  width: 180px;
  height: 260px;
  margin: 0.4em;
  padding: 0.5em;
}
.Card_Image {
  width: 130px;
  height: 130px;
  background-position: center;
  background-size: cover;
}
.Card_title {
  margin: 0.5em 0;
  font-size: 20px;
  width: 100%;
}
.Card_Types_wrapper {
  border-radius: 5px;
  background: rgb(238, 238, 238);
  margin: auto;
  padding: 0.2em;
  width: 90%;
  min-height: 50px;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-self: flex-start;
}
.Card_Type {
  margin: 0.1em;
  width: 40%;
  height: 20px;
  font-size: 13px;
  padding: 0.2em 0.4em;
  border-radius: 5px;
  border: 1px solid black;
  span {
    color: #fff;
    mix-blend-mode: difference;
  }
}
